<h4>Critical effect chance</h4>
<p>
	Critical effect chance is the base percent chance that a spell will become a critical hit, causing <b class="yellow">150%</b> of its normal effect. Direct spell effects are subjectable to critical hits, and over time effects are not.</br></br>

	Since landing critical hits will highly increase your healing throughput, critical chance does have a small effect on the <b class="yellow">HES</b> due to the higher <b class="yellow">HpS</b>. In this tool, critical chance is applied to the direct part of spells, as a static factor:

	<code>
		(1 + (1 + [Critical effect chance]/100)) / 2 = [Crit Coefficient]
	</code>
</p>