<h4>Direct spells and Over-Time spells</h4>
<p>
	These two are the most straigt forward, since they are comprised of a single dividing factor.</br>

	Direct spells are spells that only have a direct impact such as <i>Holy Light</i> or <i>Healing Touch</i>. The coefficient is calculated by:

	<code>[Direct spell coefficient] = [Cast Time of Spell] / 3.5</code>

	Over-Time spells includes both Damage over time (<b class="yellow">DoTs</b>) and Healing over Time (<b class="yellow">HoTs</b>), such as <i>Rejuvenation</i> or <i>Curse of Agony</i>. The added damage or healing is divided equally among each tick of the spell and the standard formula is:

	<code>[Over-Time spell coefficient] = [Duration of Spell] / 15</code>
</p>