<h4>Spell Haste Rating</h4>
<p>
	Spell Haste Rating increases your casting speed and the rate at which Over-Time effects occur.</br></br>

	<b class="yellow">15.8</b> Spell Haste Rating grants <b class="yellow">1%</b> haste at level <b class="yellow">70</b>.

	Casting faster directly increases your throughput, and can in the case of Over-Time effects like <b class="yellow">HoTs</b> also increase your mana efficiency since they might grant extra ticks for the same mana. For direct spells, haste will only increase the <b class="yellow">HPS</b>, but for Over-Time spells the prospect of additional tics is considered.

	<code>
		[Cast time reduction] = [Haste Rating] / 15.8 </br>
		1 - ([Cast time reduction] / 100) = [Cast time coefficient]
	</code>
</p>