<h4>Hybrid spells</h4>
<p>
	Hybrid spells is a little bit more complicated, these are spells with both a direct effect and a Over-Time portion, such as <i>Regrowth</i>. The standard formula for hybrid spells is:

	<code>
		[Over-Time part] = ([Duration] / 15) / (([Duration] / 15) + ([Cast Time] / 3.5))</br>
		[Direct part] = 1 - [Over-Time portion]
	</code>

	The duration and cast time limitations are then applied:

	<code>
		[Over-Time coefficient] = ([Duration] / 15) * [Over-Time part]</br>
		[Direct coefficient] = ([Cast Time / 3.5) * [Direct part]
	</code>

	<b class="red">DISCLAIMER:</b> Regrowth does not actually follow this standard formula and instead has its own spell specific coefficients as:
	<code>
		[Over-Time coefficient] = 0.497</br>
		[Direct coefficient] = 0.286
	</code>
</p>