<p id="calc-intro">
	The Spell Coefficient (<b class="yellow">SC</b>) is the factor that your Healing or Spell power is multiplied with in order to determine the final power of the spell. The way the <b class="yellow">SC</b> is calculated depends on the nature of the spell, there are some general rules for how to calculate the SC, but as with all rules there are exceptions and a few spells such as Frost Nova and Lay on Hands, have their own modifiers.</br></br>

	The sections below will describe how this tool calculates Spell Coefficients, should you encounter any errors your are welcome to report a bug, or create a pull request. However, unless a reliable source is provided the requests will be rejected.
</p>