<!DOCTYPE html>
<html>
	<head>
		<title>Ozgar's Downranking Guide & Tool</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href='/stylesheets/main.css'>
		<link rel="stylesheet" type="text/css" href='/stylesheets/checkbox.css'>
		<link rel="stylesheet" type="text/css" href='/stylesheets/spelltooltip.css'>
		<link rel="stylesheet" type="text/css" href='/stylesheets/talent.css'>
		<link rel="stylesheet" type="text/css" href='/stylesheets/modal.css'>
		<link rel="stylesheet" type="text/css" href='/stylesheets/rangeslider.css'>
		<link rel="stylesheet" type="text/css" href='/stylesheets/chart.css'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
		<script src="/javascripts/jquery-3.4.1.min.js"></script>
		<script src="/javascripts/compliance.js"></script>
		<script src="/javascripts/rangeslider.min.js"></script>
		<script src="/javascripts/chart.js"></script>
		<script src="/javascripts/htmlBuilder.js"></script>
		<script src="/javascripts/utils.js"></script>
		<script src="/javascripts/calculations.js"></script>
		<script src="/javascripts/main.js"></script>
		<script src="/javascripts/chartBuilder.js"></script>
		<script src="/javascripts/jquery.tablesort.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
	</head>
	<body>
		<h1 id="secondary-header">How the site uses cookies</h1>
		<div id="cookie-content">
			<h2>Google analytics</h2>
			<p>The site is being monitored by Google for benchmark purposes. In order to do this Google will add the following cookies:</p>
			<ul>
				<li>
					<h5>__utma</h5>
					<p>
						A persistent cookie - remains on a computer, unless it expires or the cookie cache is cleared. It tracks visitors. Metrics associated with the Google __utma cookie include: first visit (unique visit), last visit (returning visit). This also includes Days and Visits to purchase calculations which afford ecommerce websites with data intelligence around purchasing sales funnels.
					</p>
				</li>
				<li>
					<h5>__utmb & __utmc</h5>
					<p>
						These cookies work in tandem to calculate visit length. Google __utmb cookie demarks the exact arrival time, then Google __utmc registers the precise exit time of the user.</br>

						Because __utmb counts entrance visits, it is a session cookie, and expires at the end of the session, e.g. when the user leaves the page. A timestamp of 30 minutes must pass before Google cookie __utmc expires. Given__utmc cannot tell if a browser or website session ends. Therefore, if no new page view is recorded in 30 minutes the cookie is expired.
					</p>
				</li>
				<li>
					<h5>__utmz</h5>
					<p>
						Cookie __utmz monitors the HTTP Referrer and notes where a visitor arrived from, with the referrer siloed into type (Search engine (organic or cpc), direct, social and unaccounted). From the HTTP Referrer the __utmz Cookie also registers, what keyword generated the visit plus geolocation data.</br>

						This cookie lasts six months. In tracking terms this Cookie is perhaps the most important as it will tell you about your traffic and help with conversion information such as what source / medium / keyword to attribute for a Goal Conversion.
					</p>
				</li>
				<li>
					<h5>__utmv</h5>
					<p>
						Google __utmv Cookie lasts "forever". It is a persistant cookie. It is used for segmentation, data experimentation and the __utmv works hand in hand with the __utmz cookie to improve cookie targeting capabilities.
					</p>
				</li>
			</ul>
			<h2>PayPal</h2>
			<p>The site has embedded PayPal donation buttons, which adds the following cookie</p>
			<ul>
				<li>
					<h5>PYPF</h5>
					<p>PayPal uses this cookie to recognise its customers and to shorten the time the user needs to log in to his PayPal account by checking his email on PayPal database.</p>
				</li>
			</ul>
		</div>
	</body>
</html>
<!DOCTYPE html>
