<!DOCTYPE html>
<html>
	<head>
		<title>World of Warcraft - Downranking recommendations</title>
		<meta charset="utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href='/stylesheets/style.css'>
		<script src="/javascripts/calculations.js"></script>
		<script src="/javascripts/main.js"></script>
	</head>
	<body>
		<h1>World of Warcraft</h1>
		<h2>What rank to pick?</h2>
		<div id="character-info-container">
			<div class="character-info">
				<label for="level">Character Level</label>
				<span>
					<input id="level" type="number" min="1" max="60" value="60">
				</span>
			</div>
			<div class="character-info">
				<label for="healing">Healing Power</label>
				<span>
					<input id="healing" type="number" min="0" max="10000">
				<span>
			</div>
		</div>
		<div id="class-selection">
			<h4 class="header">Pick a class</h4>
			<div class="navbar">
				<a class="wow-class icon-medium" id="druid" title="Druid" style="background-image: url(/images/class_druid.jpg)"></a>
				<a class="wow-class icon-medium" id="paladin" title="Paladin" style="background-image: url(/images/class_paladin.jpg)"></a>
				<a class="wow-class icon-medium" id="priest" title="Priest" style="background-image: url(/images/class_priest.jpg)"></a>
				<a class="wow-class icon-medium" id="shaman" title="Shaman" style="background-image: url(/images/class_shaman.jpg)"></a>
			</div>
		</div>
		<div id="spell-selection" class="hidden">
			<h4 class="header">Pick a spell</h4>
			<div class="navbar">
			</div>
		</div>
		<div id="result" class="hidden">
			<h4 class="header">Rank with most bang for the buck</h4>
			<div id="tooltip"></div>
			<div id="breakpoints"></div>
		</div>
		<div id="tip-container">
			<span id="tip-title">Tip:</span>
			<span id="tip">If you want to know how the ranks are calculated checkout the <a href='https://github.com/oskarholmberg/wow-downranking'>GitHub page.</a></span>
		</div>
	</body>
	<footer>
		<p>
			Creator: Oskar Holmberg </br>
			My <a href="https://github.com/oskarholmberg">GitHub</a> account</br>
			Reddit tag: <a href="https://www.reddit.com/user/Oggzor">u/Oggzor</a>
		</p>
		
		<p>Credits to:</br>
			<a href="https://www.reddit.com/user/slendydaddy/">u/slendydaddy</a> for the amazing high def background</br>
			<a href="https://classicdb.ch">ClassicDB</a>  for spell data</br>
			Fanbytes <a href="http://wow.allakhazam.com">WoW Allakhazam</a> for coefficient calculations
		</p>
	</footer>
</html>
<!DOCTYPE html>
