<div id="class-selection">
	<h4 class="header">Pick a class</h4>
	<div class="navbar">
		<a class="wow-class icon-medium" id="druid" title="Druid" alt="Druid" style="background-image: url(/images/class_druid.jpg)" onClick="onClassClicked(this);"></a>
		<a class="wow-class icon-medium" id="paladin" title="Paladin" alt="Paladin" style="background-image: url(/images/class_paladin.jpg)" onClick="onClassClicked(this);"></a>
		<a class="wow-class icon-medium" id="priest" title="Priest" alt="Priest" style="background-image: url(/images/class_priest.jpg)" onClick="onClassClicked(this);"></a>
		<a class="wow-class icon-medium" id="shaman" title="Shaman" alt="Shaman" style="background-image: url(/images/class_shaman.jpg)" onClick="onClassClicked(this);"></a>
	</div>
</div>	