@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

@font-face {
  font-family: 'Friz Quadrata';
  src: url('../Friz Quadrata.eot'); /* IE9 Compat Modes */
  src: url('../Friz Quadrata.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Friz Quadrata.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../Friz Quadrata.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html {
	height: 100%;
}

a { 
	color: #7facf4;
}

a:hover { 
	text-decoration: none;
}

.druid {
	color: #FF7D0A;
}

.hunter {
	color: #ABD473;
}

.mage {
	color: #40C7EB;
}

.paladin {
	color: #F58CBA;
}

.priest {
	color: #FFFFFF;
}

.rogue {
	color: #FFF569;
}

.shaman {
	color: #0070DE;
}

.warlock {
	color: #8787ED;
}

.warrior {
	color: #C79C6E;
}

.epic {
	color: #a335ee;
}

.green {
	color: #17FD17;
}

.yellow {
	color: #E7BA00;
}

.blue {
	color: #7facf4;
}

.red {
	color: #fd1717;
}

.grey {
	color: #ccc;;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #E7BA00;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.chart-loader {
	padding: 160px 225px;
    height: 400px;
}

.chart-loader .loader {
	width: 80px;
    height: 80px;
}

body {
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../images/KalimdorV2.png') no-repeat 0 0;
	background-color: #1d1d1d;
	color: #ccc;
	font-family: "Friz Quadrata";
	min-height:100%; 
	padding:0; 
	position:relative; 
	background-size: cover;
	text-align: center;
}

body.tbc {
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../images/Outland.jpg') no-repeat 0 0;
	background-color: #1d1d1d;
	color: #ccc;
	font-family: "Friz Quadrata";
	min-height:100%; 
	padding:0; 
	position:relative; 
	background-size: cover;
	text-align: center;
}

body footer {
    font-size: 1rem;
    text-align: center;
    color: #E7BA00;
    position: absolute;
    left: 0;
    bottom: -35px;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.9);
    padding: 1em;
}

body footer a {
	text-decoration: none;
	color: #7facf4;
}

body footer .author {
	display: inline-block;
	float: left;
}

body footer .credits {
	display: inline-block;
}

body footer .paypal-container{
	display: inline-block;
	float: right;
}

#main-logo {
    max-width: 450px;
    margin: auto;
    margin-top: 40px;
    display: block;
}

#secondary-logo {
    max-width: 450px;
    margin: auto;
    display: block;
}

#main-header {
	margin-bottom: 5px;
}

.icon-medium {
	border-radius: 25px;
	background-size: cover;
	display: inline-block;
    border: 2px solid #555;
	width: 50px;
	height: 50px;
	opacity: 0.3;
}

.icon-medium:hover {
	cursor: pointer;
	opacity: 0.8;
	-moz-box-shadow:    inset 0 0 10px #7facf4;
	-webkit-box-shadow: inset 0 0 10px #7facf4;
	box-shadow:         inset 0 0 10px #7facf4;
}

.icon-medium.active {
	opacity: 1;
}

.hidden {
	display: none !important;
}


#character-info-container{
	margin: 30px;
}

.character-info {
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 20px;
}

.character-info > label {
	color: #E7BA00;
	font-size: 22px;
	text-shadow: 1px 1px 3px #111;
}

.character-info > span {
	display: block;
}

.character-info #crit-chance {
	width: 60px;
}

input {
	font-size: 22px;
	width: 100px;
    background: #222;
    opacity: 0.7;
    border-radius: 5px;
    color: white;
    border-color: #999;
}

#tip-container {
	padding: 50px;
}

#tip-title {
	color: #E7BA00;
	margin-right:2px;
}

#result {
	display: inline-block;
}

.table-container {
}

.table-container table {
	overflow-x: auto;
	margin-top: 20px;
    display: inline-block;
    max-width: 400px;
    padding: 10px 12px;
    background-color: #111;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.table-container table.sortable th {
	cursor: pointer;
}

.table-container table th {
	color: white;
} 

.table-container table caption {
	color: #E7BA00;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 8px;
	max-width: inherit;
}

.table-container table td {
	text-align: left;
    padding: 2px 15px;
}

.table-container table tr:nth-child(even) {
	background-color: #333;
}

.class-stat {
	margin-top: 10px;
}

.class-stat input {
	font-size: 14px;
}

.class-stat#spirit-container input {
	width: 60px;
}

.class-stat#crit-chance-container input {
	width: 42px;
}

#crit-chance-container span span {
	margin-left: 5px;
	color: #E7BA00;
}

.open-modal-button {
    display: inline-block;

}

#cookie-content {
	text-align: left;
}

#cookie-content h2 {
	color: #E7BA00;
}

#cookie-content li h5 {
	color: #E7BA00;
}

.cc-compliance a {
    color: #ddd;
    text-decoration: none;
    background-color: #670506;
    display: block;
	padding: 2px 12px;
    text-align: center;
    border: 1px outset #888 !important;
    border-radius: 5px;
    -moz-box-shadow: 3px 0 0 8px #000;
    -webkit-box-shadow: 3px 0 0 8px #000;
    box-shadow: inset 0 0 8px #000;
    opacity: 0.8;
    width: 100px;
}

.cc-message {
	color: #E7BA00;
}

.btn {
	display: inline-block;
}

.btn a {
    color: #ddd;
    text-decoration: none;
    background-color: #670506;
    display: block;
	padding: 2px 12px;
    text-align: center;
    border: 1px outset #888;
    border-radius: 5px;
    -moz-box-shadow: 3px 0 0 8px #000;
    -webkit-box-shadow: 3px 0 0 8px #000;
    box-shadow: inset 0 0 8px #000;
    opacity: 0.8;
}

.btn a:focus {
	outline: none;
}

.btn:hover a {
	opacity: 1;
    color: #ddd;
    text-decoration: none;
}

.chart-container {
	min-height: 400px;
    min-width: 400px;
}

 #compare-container {
	 width: 100%;
	 background-color: #fff;
 }

 #compare-container #col1 {
	 width: 42%;
	 float: left;
 }
 #compare-container #col2outer {
	 width: 58%;
	 float: right;
	 margin: 0;
	 padding: 0;
 }
 #col2outer #col2mid {
	 width: 24%;
	 float: left;
	 padding-top: 35px;
 }

 #col2outer #col2mid h4{
	text-align: center;
    font-size: 30px;
    margin: 0;
 }

 #col2outer #col2side {
	 width: 73%;
	 float: right;
 }

 #compare-container .footer {
	float: left;
    text-align: center;
    width: 100%;
 }

 .compare-class-select {
 	margin: 30px 0 10px 0;
 }

 .compare-spell-select {
    margin: 10px 0 20px 0px;
 }

.compare-rank-select label {
	font-size: 22px;
 }

 .compare-rank-select input {
 	font-size: 24px;
    height: 35px;
    width: 42px;
 }

 .compare-result {
 	margin: 30px 0;
 }

