@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

@font-face {
  font-family: 'Friz Quadrata';
  src: url('../Friz Quadrata.eot'); /* IE9 Compat Modes */
  src: url('../Friz Quadrata.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Friz Quadrata.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../Friz Quadrata.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html {
	height: 100%;
}

.green {
	color: #17FD17;
}

.yellow {
	color: #E7BA00;
}

.blue {
	color: #7facf4;
}

.red {
	color: #fd1717;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #E7BA00;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.chart-loader {
	padding: 160px 225px;
    height: 400px;
}

.chart-loader .loader {
	width: 80px;
    height: 80px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../images/KalimdorV2.png') no-repeat 0 0;
	background-color: #1d1d1d;
	color: #ccc;
	font-family: "Friz Quadrata";
	min-height:100%; 
	padding:0; 
	margin:0 0 0 30px; 
	position:relative; 
	background-size: cover;
	text-align: center;
}

body footer {
	font-size: 10px;
	position: absolute;
	bottom: 20px;
	width: 260px;
	text-align: left;
	color: #E7BA00;
}

body footer a {
	text-decoration: none;
	color: #7facf4;
}

#main-header {
    max-width: 450px;
    margin-top: 40px;
}

#secondary-header {
	margin-bottom: 5px;
}

.navbar > .icon-medium {
	border-radius: 25px;
	background-size: cover;
	display: inline-block;
    border: 2px solid #555;
	width: 50px;
	height: 50px;
	opacity: 0.3;
}

.icon-medium:hover {
	cursor: pointer;
	opacity: 0.8;
	-moz-box-shadow:    inset 0 0 10px #7facf4;
	-webkit-box-shadow: inset 0 0 10px #7facf4;
	box-shadow:         inset 0 0 10px #7facf4;
}

.navbar > .icon-medium.active {
	opacity: 1;
}

.hidden {
	display: none !important;
}


#character-info-container{
	margin: 30px;
}

.character-info {
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 20px;
}

.character-info > label {
	color: #E7BA00;
	font-size: 22px;
	text-shadow: 1px 1px 3px #111;
}

.character-info > span {
	display: block;
}

input {
	font-size: 22px;
	width: 100px;
    background: #222;
    opacity: 0.7;
    border-radius: 5px;
    color: white;
    border-color: #999;
}

#tip-container {
	padding-top: 50px;
}

#tip-title {
	color: #E7BA00;
	margin-right:2px;
}

#result {
	display: inline-block;
	margin-bottom: 100px;
}

.table-container {

}

.table-container table {
	margin-top: 20px;
    display: inline-block;
    max-width: 400px;
    padding: 10px 12px;
    background-color: #111;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.table-container table.sortable th {
	cursor: pointer;
}

.table-container table th {
	color: white;
} 

.table-container table caption {
	color: #E7BA00;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 8px;
}

.table-container table td {
	text-align: left;
    padding: 2px 15px;
}

.table-container table tr:nth-child(even) {
	background-color: #333;
}

.class-stat {
	margin-top: 10px;
}

.class-stat input {
	font-size: 14px;
}

.class-stat#spirit-container input {
	width: 60px;
}

.class-stat#crit-chance-container input {
	width: 42px;
}

#crit-chance-container span span {
	margin-left: 5px;
	color: #E7BA00;
}

.open-modal-button {
    display: inline-block;

}

.btn {
	display: inline-block;
}

.btn button {
    color: #ddd;
    text-decoration: none;
    background-color: #670506;
    display: block;
	padding: 2px 12px;
    text-align: center;
    border: 1px outset #888;
    border-radius: 5px;
    -moz-box-shadow: 3px 0 0 8px #000;
    -webkit-box-shadow: 3px 0 0 8px #000;
    box-shadow: inset 0 0 8px #000;
    opacity: 0.8;
}

.btn button:focus {
	outline: none;
}

.btn:hover button {
	opacity: 1;
    color: #ddd;
    text-decoration: none;
}

.chart-container {
	min-height: 400px;
    min-width: 400px;
}





