body .modal {
    background: url(../images/window_border.png) no-repeat;
    background-size: 100%;
    max-width: 600px;
	height: 835px;
	padding: 19px;
}

body .blocker {
	background-color: none;
	background-color: rgba(0,0,0,0);
}

.modal .background {
    width: 552px;
    height: 794px;
    background-color: #000;
    opacity: 0.85;
    border-radius: 10px;
    position: absolute;
    z-index: -1;
    top: 24px;
    left: 24px;
    padding: 36%;
}

.modal .content {
    width: 100%;
    height: 794px;
    padding: 15px;
    margin: 5px 0 0 0;
    overflow: auto;
}

.modal .content h1.title {
	font-size: 17px;
    color: #E7BA00;
    width: 200px;
    height: 50px;
    margin: 0;
    display: block;
    position: absolute;
    top: -12px;
    left: 200px;
    background: url(../images/menu_title.png) no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 13px;
    z-index: 100;
}

.modal .content h3 {
    color: #E7BA00;
}

.modal .content h4 {
    color: #E7BA00;
    margin-bottom: 5px;
}

.modal .content p {
	font-size: 13px;
	margin-top: 0;
}

.modal .content li {
	font-size: 13px;
}

.modal .content code {
	white-space: nowrap;
    display: block;
    line-height: 20px;
    padding: 15px 4px 15px 4px;
    margin: 8px 0px 8px 0px;
    font-size: 12px;
    max-width: 500px;
    overflow-y: auto;
    background-color: #222;
    border: 1px inset #999;
}

#details-modal .content {
    text-align: center;
}