#tooltip{
	display: inline-block;
}

.wow-spell:not(:first-child) {
	margin-left: 4px;
}

.compare-result .spell-tooltip {
	max-width: 100%;
}

.spell-tooltip {
	font-family: Verdana, "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	box-shadow: 1px 1px #555;
    background-color: #111;
    border: 1px solid #aaa;
    border-radius: 5px;
	font-size: 16px;
    width: 300px;
    padding: 3px 5px 5px 5px;
    opacity: 0.9;
    color: white;
    line-height: 20px;
    text-align: left;
}

.spell-tooltip.small {
	font-size: 12px;
    width: 212px;
    padding: 3px 5px 5px 5px;
    opacity: 0.9;
    line-height: 16px;
}

.spell-tooltip.small .header {
    font-size: 14px;
}

.spell-tooltip.small p.description {
    margin: 0;
}

.spell-tooltip .header {
	font-size: 18px;
    margin-bottom: 3px;
}

.spell-tooltip .header .name {
	color: #7facf4;
}

.spell-tooltip .header .rank{
	color: #9d9d9d;
	float: right;
}

.spell-tooltip .requirements {
}

.spell-tooltip .requirements .cost{

}

.spell-tooltip .requirements .range{
	float: right;
}

.spell-tooltip .cast-time {

}

.spell-tooltip p.description {
	color: #E7BA00;
	margin: 0px 0px 12px 0px;
}