@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

@font-face {
  font-family: 'Friz Quadrata';
  src: url('../Friz Quadrata.eot'); /* IE9 Compat Modes */
  src: url('../Friz Quadrata.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Friz Quadrata.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../Friz Quadrata.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html {
	height: 100%;
}

body {
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../images/KalimdorV2.png') no-repeat 0 0;
	background-color: #1d1d1d;
	color: #ccc;
	font-family: "Friz Quadrata";
	min-height:100%; 
	padding:0; 
	margin:0 0 0 30px; 
	position:relative; 
	background-size: cover;
	text-align: center;
}

body footer {
	font-size: 10px;
	position: absolute;
	bottom: 20px;
	width: 260px;
	text-align: left;
	color: #E7BA00;
}

body footer a {
	text-decoration: none;
	color: #7facf4;
}

.navbar > h4 {
}

.navbar > .icon-medium {
	border-radius: 25px;
	background-size: cover;
	display: inline-block;
    border: 2px solid #555;
	width: 50px;
	height: 50px;
	opacity: 0.3;
}

#talent-selection h4 {
	margin-bottom: 10px;
}

.talent-icon{
	display: inline-block;
	margin: 10px;
	width: 44px;
	height: 44px;
    margin: 0 3px 0 3px;
	z-index: 0;
	position: relative;
}

.talent-icon ins {
	width: 36px;
	height: 36px;
	left: 4px;
	top: 4px;
	display: block;
    position: absolute;
    z-index: 5;
    background-repeat: no-repeat;
}

.talent-icon del {
	width: 44px;
    height: 44px;
    background-image: url(../images/icon_border_medium.png);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-repeat: no-repeat;
}

.talent-icon:hover a {
	background: url(../images/icon_hilite_medium_talent.png) no-repeat 0 0;
}

.talent-icon a {
	display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 20;
	color: #7facf4;
    cursor: pointer;
    outline: none;
    width: 38px;
    height: 38px;
}

.talent-icon .icon-border {
	position: absolute;
    z-index: 15;
    left: 1px;
    top: 1px;
    width: 42px;
    height: 42px;
    background: url(../images/border.gif) no-repeat;
    background-position: -84px 0px;
}

.talent-icon .icon-border.maxed {
    background-position: -42px 0px;
}

.talent-icon div.icon-bubble {
	color: #17FD17;
    visibility: visible;
	position: absolute;
    z-index: 16;
    width: 22px;
    height: 23px;
    left: 30px;
    top: 29px;
    background: url(../images/bubble.png) no-repeat;
    line-height: 24px;
    font-family: Verdana,sans-serif;
    font-size: 12px;
    text-align: center;
    cursor: default;
}

.talent-icon div.icon-bubble.maxed {
	color: #E7BA00;
}

.talent-icon .talent-tooltip {
	visibility: hidden;
	font-family: Verdana, "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	box-shadow: 1px 1px #555;
    background-color: #111;
    border: 1px solid #aaa;
    border-radius: 5px;
	font-size: 14px;
    width: 300px;
    padding: 7px;
    opacity: 0.9;
    color: white;
    line-height: 20px;
    text-align: left;
	position: absolute;
    z-index: 50;
    bottom: 42px;
    left: 42px;
}

.talent-icon .talent-tooltip .header{
	font-size: 16px;
}

.talent-icon .talent-tooltip .description{
	color: #E7BA00;
}

.talent-icon .talent-tooltip .footer.first{
	color: #17FD17;
}

.talent-icon .talent-tooltip .footer.last{
	color: #fd1717;
}

.talent-icon .talent-tooltip .footer .next-rank {
	color: #E7BA00;
}

.talent-icon:hover .talent-tooltip {
	visibility: visible;
}

.icon-medium:hover {
	cursor: pointer;
	opacity: 0.8;
	-moz-box-shadow:    inset 0 0 10px #7facf4;
	-webkit-box-shadow: inset 0 0 10px #7facf4;
	box-shadow:         inset 0 0 10px #7facf4;
}

.navbar > .icon-medium.active {
	opacity: 1;
}

.hidden {
	display: none !important;
}

#tooltip{
	display: inline-block;
}

.spell-tooltip {
	font-family: Verdana, "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	box-shadow: 1px 1px #555;
    background-color: #111;
    border: 1px solid #aaa;
    border-radius: 5px;
	font-size: 16px;
    width: 300px;
    padding: 7px;
    opacity: 0.9;
    color: white;
    line-height: 20px;
    text-align: left;
}

.spell-tooltip .header {
	font-size: 18px;
}

.spell-tooltip .header .name {
	color: #7facf4;
}

.spell-tooltip .header .rank{
	color: #9d9d9d;
	float: right;
}

.spell-tooltip .requirements {
}

.spell-tooltip .requirements .cost{

}

.spell-tooltip .requirements .range{
	float: right;
}

.spell-tooltip .cast-time {

}

.spell-tooltip p.description {
	color: #E7BA00;
	margin: 8px 0px 0px 0px;
}

.character-info {
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 20px;
}

.character-info > label {
	color: #E7BA00;
	font-size: 22px;
	text-shadow: 1px 1px 3px #111;
}

.character-info > span {
	display: block;
}

input {
	font-size: 22px;
	width: 100px;
    background: #222;
    opacity: 0.7;
    border-radius: 5px;
    color: white;
    border-color: #999;
}

#tip-container {
	padding-top: 50px;
}

#tip-title {
	color: #E7BA00;
	margin-right:2px;
}

#result {
	display: inline-block;
}

#breakpoints {
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
    background-color: #111;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#breakpoints > table {
	width: 100%;
	font-size: 16px;
}

#breakpoints > table > td {
	width: 50%;
} 

#breakpoints > table > tbody > tr > th {
	color: white;
} 

#breakpoints > table > caption {
	color: #E7BA00;
	font-size: 18px;
	line-height: 18px;
}

#breakpoints > table > caption > .subtitle{
	font-size: 14px;
}

#breakpoints > table > caption > .subtitle > .name{
	color: #7facf4;
}

.class-stat {
	margin-top: 10px;
}

.class-stat input {
	font-size: 14px;
}

.class-stat#spirit-container input {
	width: 60px;
}

.class-stat#crit-chance-container input {
	width: 42px;
}

#crit-chance-container span span {
	margin-left: 5px;
	color: #E7BA00;
}






