@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

@font-face {
  font-family: 'Friz Quadrata';
  src: url('../Friz Quadrata.eot'); /* IE9 Compat Modes */
  src: url('../Friz Quadrata.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Friz Quadrata.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../Friz Quadrata.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html {
	height: 100%;
}

body {
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/Kalimdor.png');
	background-color: #1d1d1d;
	color: #ccc;
	font-family: "Friz Quadrata";
	min-height:100%; 
	padding:0; 
	margin:0 0 0 30px; 
	position:relative; 
	background-size: cover;
	text-align: center;
}

footer {
	font-size: 10px;
	position: absolute;
	bottom: 50px;
	width: 100%;
	height: 70px;
	text-align: left;
	color: #ffd100;
}

footer > p > a {
	text-decoration: none;
	color: #7facf4;
}

.navbar > h4 {
}

.navbar > .icon-medium {
	border-radius: 25px;
	background-size: cover;
	display: inline-block;
    border: 2px solid #555;
	width: 50px;
	height: 50px;
	opacity: 0.3;
}

.icon-medium:hover {
	cursor: pointer;
	opacity: 0.8;
	-moz-box-shadow:    inset 0 0 10px #7facf4;
	-webkit-box-shadow: inset 0 0 10px #7facf4;
	box-shadow:         inset 0 0 10px #7facf4;
}

.navbar > .icon-medium.active {
	opacity: 1;
}

.hidden {
	display: none !important;
}

#tooltip{
	display: inline-block;
}

.spell-tooltip {
	font-family: Verdana, "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	box-shadow: 1px 1px #555;
    background-color: #111;
    border: 1px solid #aaa;
    border-radius: 5px;
	font-size: 16px;
    width: 300px;
    padding: 7px;
    opacity: 0.9;
    color: white;
    line-height: 20px;
    text-align: left;
}

.spell-tooltip .header {
	font-size: 18px;
}

.spell-tooltip .header .name {
	color: #7facf4;
}

.spell-tooltip .header .rank{
	color: #9d9d9d;
	float: right;
}

.spell-tooltip .requirements {
}

.spell-tooltip .requirements .cost{

}

.spell-tooltip .requirements .range{
	float: right;
}

.spell-tooltip .cast-time {

}

.spell-tooltip p.description {
	color: #ffd100;
	margin: 8px 0px 0px 0px;
}

.character-info {
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 20px;
}

.character-info > label {
	color: #ffd100;
	font-size: 22px;
	text-shadow: 1px 1px 3px #111;
}

.character-info > span {
	display: block;
}

.character-info > span > input {
	font-size: 22px;
	width: 100px;
    background: #222;
    opacity: 0.7;
    border-radius: 5px;
    color: white;
    border-color: #999;
}

#tip-container {
	padding-top: 50px;
}

#tip-title {
	color: #ffd100;
	margin-right:2px;
}

#result {
	display: inline-block;
}

#breakpoints {
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
    background-color: #111;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#breakpoints > table {
	width: 100%;
	font-size: 16px;
}

#breakpoints > table > td {
	width: 50%;
} 

#breakpoints > table > tbody > tr > th {
	color: white;
} 

#breakpoints > table > caption {
	color: #ffd100;
	font-size: 18px;
	line-height: 18px;
}

#breakpoints > table > caption > .subtitle{
	font-size: 14px;
}

#breakpoints > table > caption > .subtitle > .name{
	color: #7facf4;
}



