<div id="info-modal" class="modal">
	<div class="background"></div>
	<div class="content">
		<h1 class="title">How it works!</h1>
		<h3>Introduction</h3>
		<p id="introduction">
			It is now 2021, two years have passed since the return of Classic and it is time to enter the Dark Portal and venture into the Outlands. So while raid logging Naxxramas and awaiting the release I made some updates to this site. This tool will help players choose the most mana efficient healing spell ranks, and no one will be able to claim that YOU WERE NOT PREPARED!</br></br>

			If you were looking for the classic version, don't worry it is still <a href="/">right here</a>!</br></br>

			The rank selection is based on a <i>Healing Efficiency Score</i> (<b class="yellow">HES</b>), which is derived from the combination of <i>Healing per Mana Efficiency</i> (<b class="yellow">HPME</b>) and <i>Healing per Second</i> (<b class="yellow">HpS</b>). A detailed description can be found in the <a href="#calc">calculations section</a></br></br>
		</p>
		<% include donations.html %>
		<% include using_the_tool.html %>
		<% include calculations/tbc_calculations.html %>
		<span class="btn pull-right">
			<a href="#" rel="modal:close">Close</a>
		</span>
	</div>
</div>