<h3>Using the tool</h3>
<ol id="user-guide">
	<li>Fill out your total amount of Healing Power as shown in the in-game character pane</li>
	<li>Fill out your details like crit, haste or if you have the AQ20 tablets (Not relevant for TBC).</li>
	<li>Select your class</li>
	<li>Fill out the talents to match your own talent points</li>
	<li>Apply any of the available buffs</li>
	<li>Select a spell</li>
	<li>A tooltip is now shown, displaying the recommended spell rank.</li>
	<li>Click the button "Spell details" to open the advanced user's window to look at breakpoints and much more!</li>
	<li>A Table will be displayed for you to see the values of each metric for each rank. You can click on the top row of each column to sort by that factor.</li>
	<li>(Optional) Drag the slider to change the importance of <b class="yellow">HpME</b> and <b class="yellow">HpS</b>.. Dragging the slider to the far side of either end, will completely disregard the other attribute. Also, below are two static graphs showing <b class="yellow">HpME</b> and <b class="yellow">HpS</b>. as a function of spell power by rank.</li>
</ol>
<h3>Interpreting the results</h3>
<p>
	The resulting recommended rank is chosen by maximizing <b class="yellow">HES</b> (see next section) for the given <b class="yellow">Healing Power</b>. However, <b class="red">this does NOT mean that this is the only rank you should use</b>, the result only shows what rank will be most efficient, it is still up to you as a player to decide, situationally, when efficiency or healing throughput is most important!</br></br>
	The purpose of the tool is to provide players with enough data to make an informed decision, and understand their full toolset!
</p>