<div id="info-modal" class="modal">
	<div class="background"></div>
	<div class="content">
		<h1 class="title">But why?</h1>
		<h3>No more downranking</h3>
		<p id="introduction">
			The need for downranking was removed in <a href="https://www.wowhead.com/patchnotes=3.0.2" target="_blank" alt="Click to view patch notes on wowhead.com">Patch 3.0.2</a>, the release patch for <b class="ice-blue">Wrath of the Lich King</b>. The patch introduced a change that causes all spells to cost a percentage of the casters base mana, independent of spell rank, thereby completely voiding the purpose of downranking.</br></br> This website has thus run its course, I will keep it up for as long as I can for those playing older expansions or for general interest.</br></br>Thanks for the run and see you in another 15 years!</br></br>Lok'tar Ogar!</br>Ozgar</br></br>
			If you are playing on an earlier expansion, they are still available as <a href="/" class="yellow">Classic WoW</a> and <a href="/" class="tbc-green">Burning Crusade</a> 
		</p>
		<% include donations.html %>
		<span class="btn pull-right">
			<a href="#" rel="modal:close">Close</a>
		</span>
	</div>
</div>