<div id="info-modal" class="modal">
	<div class="background"></div>
	<div class="content">
		<h1 class="title">How it works!</h1>
		<h3>Introduction</h3>
		<p id="introduction">
			It does not... Downranking was removed in <b class="blue">Wrath of the Lich King</b> and the purpose of this website along with it. Thanks for the run!</br>
			If you are playing on an earlier expansion, they are still available as <a href="/" class="yellow">Classic WoW</a> and <a href="/" class="tbc-green">Burning Crusade</a> 
		</p>
		<% include donations.html %>
		<span class="btn pull-right">
			<a href="#" rel="modal:close">Close</a>
		</span>
	</div>
</div>